:host {

  a, a:visited {
    @include card;

    &:hover {
      transform: scale(1);
    }
  }

  .title {
    font-weight: bold;
    padding: 10px 10px 5px 10px;
    text-transform: uppercase;
  }

  .tags {
    padding: 5px 10px 10px 10px;
  }

  .preview {
    img {
      max-width: 100%;
    }
  }

  @media (max-width: 650px) {
    .title {
      display: block;
      line-height: 20px;
    }
  }
}
